# Server
SERVER_PORT=3200

# Postgres
POSTGRES_DATABASE=faq
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=faq_user
POSTGRES_PASSWORD=faq_9876

# Service
CLIENT_ID=6a46cb5e0a2282764a62595e

# Email Service
EMAIL_SERVICE_URL=http://localhost:2500
